@font-face {
    font-family: 'Damion';
    src: url('Damion-Regular.woff2') format('woff2'),
        url('Damion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

